@model IEnumerable<LibraryLab.Models.Requisitar>

@{
    ViewData["Title"] = "Histórico de Requisições";
}

<h1>Histórico de Requisições</h1>

<table class="table">
    <thead>
        <tr>
            <th>Livro</th>
            <th>Data de Requisição</th>
            <th>Data de Empréstimo</th>
            <th>Data de Devolução</th>




        </tr>
    </thead>
    <tbody>
        @foreach (var requisicao in Model)
        {
            <tr>
                <td>@requisicao.Livro?.Titulo</td>
                <td>@requisicao.DataRequisicao?.ToString("dd/MM/yyyy")</td>
                <td>@requisicao.DataEmprestimo?.ToString("dd/MM/yyyy")</td>
                <td>@requisicao.DataDevolucao?.ToString("dd/MM/yyyy")</td>
                <td><a asp-action="DetailsHist" asp-route-id="@requisicao.Id">Detalhes</a></td>

            </tr>
        }
    </tbody>
</table>
